# File and Exception

In [21]:
with open("account.txt",mode="w") as account:
    account.write("100 Jones 24.98\n")
    account.write("200 Doe 345.67\n")
    account.write("300 White 0.00\n")
    account.write("400 Stone -42.16\n")
f=open("account.txt",mode="w+")
#f.read()
f.write("Good Evening")
f.seek(0)
print(f.read())
#print(f.read(10))
#print(f.tell())
#print(f.read(5))
#f.seek(0)
#print(f.read())
#print(f.readlines())

Good Evening

In [4]:
# Create and write to a text file
with open("example.txt", "w") as file:
    file.write("Hello, this is a text file created in Jupyter Notebook!")

In [7]:
# reading a data from a text file
with open("account.txt",mode="r") as account:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in account:
        account, name, balance=record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16

In [9]:
# Open the file in read mode
with open("account.txt", "r") as file:
    data = file.read()
# Print the content
print(data)

100 Jones 24.98
200 Doe 345.67
300 White 0.00
400 Stone -42.16

In [121]:
# Open the file in read mode
with open("account.txt", "r") as file:
    lines = file.readlines()

# Print each line
for line in lines:
    print(line.strip())  # .strip() removes any extra whitespace or newline characters

Account Name Balance
123 John 2500.50
456 Alice 1500.75

In [67]:
account=open("account.txt","r")
temp_file=open("temp_file.txt","w")
with account,temp_file:
    for record in account:
        account, name, balance=record.split()
        if account!="300":
            temp_file.write(record)
        else:
            new_record=" ".join([account,"William", balance])
            temp_file.write(new_record+"\n")

In [37]:
temp_file=open("temp_file.txt","r")
print(temp_file.read())

100 Jones 24.98
200 Doe 345.67
300 William 0.00
400 Stone -42.16

In [53]:
temp_file=open("temp_file.txt","r")
print(temp_file.read(3))
print(temp_file.read(4))
print(temp_file.tell()) #to get the correct position file cursor
temp_file.seek(0) ### to make it in that particular position
print(temp_file.read(3))

100
 Jon
7
100

In [65]:
#temp_file=open("temp_file.txt","r")
#print(temp_file.readlines())
#temp_file=open("temp_file.txt","w")
#temp_file.write("100 Jones 24.98")
#temp_file=open("temp_file.txt","r")
#print(temp_file.read())

['100 Jones 24.98']
100 Jones 24.98

In [69]:
# Append new records to the file
with open("account.txt", mode="a") as account_file:
    # Add new records (example data)
    account_file.write("101 Sarah 3000.00\n")
    account_file.write("102 Mike 4200.50\n")
# Append data to the file
with open("account.txt", mode="a") as account_file:
    # Add new records
    account_file.write("103 Emma 2800.75\n")
    account_file.write("104 Liam 5000.00\n")

# Read the updated file to verify the appended data
with open("account.txt", mode="r") as account_file:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in account_file:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
101       Sarah        3000.00
102       Mike         4200.50
103       Emma         2800.75
104       Liam         5000.00

In [135]:
# Create a sample file for demonstration
with open("sample.txt", "w") as file:
    file.write("Hello, World!")

# Open file in r+ mode
with open("sample.txt", "r+") as file:
    print("Before writing:", file.read())  #Read existing content
    #file.seek(0)  #Move pointer to the start
    file.write("Hi")  #Overwrite content
    file.seek(0)  #Move pointer back to the start
    print("After writing:", file.read())  # Check updated content

Before writing: Hello, World!
After writing: Hello, World!Hi

In [137]:
with open("sample.txt", "w+") as file:
    print(file.read())
    file.write("New Content")  # Overwrite existing content
    file.seek(0)  # Move pointer back to the start
    print("After writing:", file.read())  # Check new content

After writing: New Content

In [92]:
# List of strings to write
lines = ["Account Name Balance\n", "123 John 2500.50\n", "456 Alice 1500.75\n"]

# Open file in write mode
with open("account.txt", "w") as file:
    file.writelines(lines)

# Verify content
with open("account.txt", "r") as file:
    print(file.read())

Account Name Balance
123 John 2500.50
456 Alice 1500.75

# Exception

In [22]:
try:
    # Get user input
    numerator = int(input("Enter the numerator: "))
    denominator = int(input("Enter the denominator: "))
    
    # Perform division
    result = numerator / denominator

except ZeroDivisionError:
    # Handle division by zero
    print("Error: Division by zero is not allowed.")

except ValueError:
    # Handle invalid input (non-integer)
    print("Error: Please enter valid integers.")

else:
    # Executes if no exceptions occur
    print(f"The result of the division is: {result}")
print("Good Evenning")

Enter the numerator:  k

Error: Please enter valid integers.
Good Evenning

In [27]:
try:
    # Prompt user for input and perform division
    num = int(input("Enter a number: "))
    result = 10 / num
except (ValueError, ZeroDivisionError) as a:
    # Handle both ValueError and ZeroDivisionError
    print(f"Error occurred: {a}")
else:
   print(f"The result is: {result}")
   print("hello")

Enter a number:  12

The result is: 0.8333333333333334
hello

In [28]:
try:
    numerator = int(input("Enter numerator: "))
    denominator = int(input("Enter denominator: "))
    result = numerator / denominator
    print(f"The result is: {result}")
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
except ValueError:
    print("Error: Invalid input. Please enter integers.")
finally:
    print("Execution of division operation is complete.")

Enter numerator:  k

Error: Invalid input. Please enter integers.
Execution of division operation is complete.

In [30]:
try:
    # Risky code
    result = "10" + 10  # TypeError
except:
    print(f"An unexpected error occurred:")

An unexpected error occurred:

# CSV File

In [32]:
import csv

# Data to write
data = [
    ["Name", "Age", "City"],  # Header row
    ["Alice", 30, "New York"],
    ["Bob", 25, "Los Angeles"],
    ["Charlie", 35, "Chicago"]
]

# Writing to a CSV file
filename = "output.csv"
with open(filename, mode="w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(data)  # Write all rows at once

print(f"Data written to {filename}")

import csv

# File to read
filename = "output.csv"

# Reading data
with open(filename, mode="r") as file:
    reader = csv.reader(file)
    
    # Iterate through rows and print
    for row in reader:
        print(row)

import pandas as pd
df=pd.read_csv("output.csv")
print(df)
df.to_csv("NewStore.csv",index=True)

with open("NewStore.csv", mode="r") as file:
    reader = csv.reader(file)
    
    # Iterate through rows and print
    for row in reader:
        print(row)

Data written to output.csv
['Name', 'Age', 'City']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']
['Charlie', '35', 'Chicago']
      Name  Age         City
0    Alice   30     New York
1      Bob   25  Los Angeles
2  Charlie   35      Chicago
['', 'Name', 'Age', 'City']
['0', 'Alice', '30', 'New York']
['1', 'Bob', '25', 'Los Angeles']
['2', 'Charlie', '35', 'Chicago']

In [33]:
import pandas as pd

# Titanic dataset URL (Kaggle version hosted online)
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Load the dataset into a DataFrame
titanic_data = pd.read_csv(url)

# Display the first few rows of the dataset
print(titanic_data.head())
print(titanic_data.tail())
print(titanic_data.describe())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [180]:
import csv

# Data to write
data = [
    ["Name", "Age", "City"],
    ["Alice", 30, "New York"],
    ["Bob", 25, "Los Angeles"],
    ["Charlie", 35, "Chicago"]
]

# Write to a CSV file with pipe as the delimiter
with open("example_pipe.csv", mode="w", newline="") as file:
    writer = csv.writer(file, delimiter="|")  # Set delimiter to pipe
    writer.writerows(data)

print("CSV file written with a pipe delimiter.")
f=open("example_pipe.csv","r")
reader=csv.reader(f)
for row in reader:
    print(row)

CSV file written with a pipe delimiter.
['Name|Age|City']
['Alice|30|New York']
['Bob|25|Los Angeles']
['Charlie|35|Chicago']